{% trans_default_domain 'CGPlatformBundle' %}

{% extends "CGPlatformBundle:Layout:layout.html.twig" %}

{% block title %}{{ parent() }} | {{ 'cg.page_header'|trans }} {% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/cgplatform/css/home.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/cgplatform/css/home_overlay.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/cgplatform/css/animate.min.css') }}">
{% endblock %}

{% block body %}
<div class="page-header">
	{{ 'cg.presentation'|trans }}
</div>

	<div id="overlay"></div>

	<div id="canvas_container" class="col-md-8 col-md-offset-2">

	</div>




{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/cgplatform/js/load_canvas_content.js') }}"></script>
<script src="{{ asset('bundles/cgplatform/js/d3.min.js') }}"></script>
<script src="{{ asset('bundles/cgplatform/js/ion.sound.min.js') }}"></script>
<script src="{{ asset('bundles/cgplatform/js/three.min.js') }}"></script>
<script src="{{ asset('bundles/cgplatform/js/earth.js') }}"></script>
<script src="{{ asset('bundles/cgplatform/js/sha.js') }}"></script>
<script src="{{ asset('bundles/cgplatform/js/load_konamis.js') }}"></script>

{% endblock javascripts %}
