{% trans_default_domain 'CGPlatformBundle' %}

{% extends "CGPlatformBundle:Layout:layout.html.twig" %}

{% block title %}{{ parent() }} | {{ 'cg.page_header'|trans }} {% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/cgplatform/css/home.css') }}">
{% endblock %}

{% block body %}
<div class="page-header">
	{{ 'cg.presentation'|trans }}
</div>


	<div id="canvas_container">

	</div>




{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/cgplatform/js/load_canvas_content.js') }}"></script>
<script src="{{ asset('bundles/cgplatform/js/three.min.js') }}"></script>
<script src="{{ asset('bundles/cgplatform/js/earth.js') }}"></script>

{% endblock javascripts %}
