{% trans_default_domain 'CGUserBundle' %}

<div class="well">
    
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {{ form_errors(form) }}

    <div class="form-group">
      {# Génération du label ancien mot de passe. #}
      {{ form_label(form.current_password, 'profile.change_password.password'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.current_password) }}

      <div class="col-sm-4">
        {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
      
    <div class="form-group">
      {# Génération du label premier nouveau mot de passe. #}
      {{ form_label(form.plainPassword.first, 'profile.change_password.new_password'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.plainPassword.first) }}

      <div class="col-sm-4">
        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control password'}}) }}
      </div>
    </div>
      
    <div class="form-group">
      {# Génération du label nom du contact. #}
      {{ form_label(form.plainPassword.second, 'profile.change_password.second_password'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.plainPassword.second) }}

      <div class="col-sm-4">
        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control password_confirmation'}}) }}
      </div>
    </div>

  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  {{ form_widget(form.saveButton, {'attr': {'class': 'btn btn-primary'},  'label': 'profile.edit.submit'|trans }) }}

  {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(form) }}
  
  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
    
</div>




{#<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>#}

